.table-cell {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}
.table-cell-button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: inherit;
    cursor: pointer;
}
.table-cell-button:hover {
    background-color: lightblue;
}